.articulosGrid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-row-gap: 3vh;
    margin-top: 3vh;
    a{
        @include linkNorm(none, white)
    }
    &__flexSeason{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 5vh;
    }
    &__boxes{
        @extend .sell__boxes;
    }
}