

@media screen and (max-width: 768px){
    
    .display_none_sm{
        display: none;
    }

    .header{
        flex-wrap:nowrap;
        flex-direction: column;
        height: 30vh;

        &__logoContainer{
            max-height: 100px;
            width:auto;
            height: auto;
        }

        .navegacion{
            align-self: stretch;
            align-items: center;

        }

    }

    .mainI{
        .novedad{
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            justify-items: center;
            height:auto;
            grid-row-gap: 3%;
            padding: 0;

            &__imgContainer{
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                max-width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                height: fit-content;
                min-width: 250px;
            }
            &__img{
                max-width: 100%;
                height: auto;
                min-width: 250px; 
            }

            &__textbox{
                grid-column: 1 / 2;
                grid-row: 2 / 3;
                width:50%;
                text-align: center;
            }
        }
    }
    .articulosGrid{
        h2, h3{
            text-align: center;
        }
    }
    .nuestraHistoria{
        text-align: center;
    }    

    .modosDeContacto{
        text-align: center;
    }

    
}


@media (max-width: 576px){
    /*.navegacion{
        height: 15vh;
    }
    .mainI{
        grid-template-rows: auto auto;
        .novedad{
            align-items: end;
            align-content: stretch;
        }


    }*/
    body h2{
        font-size: calc(16px + 1vw);
    }

    .mainI{
       .novedad__textbox{
            padding: 2vw;
        } 
        
    } 

    .footer{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, auto);
        justify-items: center;
        height: auto;
        .footer__list{
            padding: 0;
            li{
                display: list-item;
                padding: 5% 0;
            }
            &--rrss{
                display: block;
                height: 60px;
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-evenly;
            }
        }
        &__box{
            display: block;
            justify-content: space-evenly;
            width: 100%;
            border-bottom: 2px solid black;
            &--logo{
                @include gridColRow(2, 3, auto, auto);
                display: flex;
                justify-content: center;
                @include size(100%, 100%);
                img{
                    max-width: 100%;
                }  
            }
            &--rrss{
                @include gridColRow(1, 3, auto, auto);
            }
            &--nav{
                @include gridColRow(1, 3, auto, auto);
                align-self: start;
                .footer__list{
                    display: grid;
                    grid-template-columns: repeat(2, auto);
                    grid-template-rows: repeat(2, auto);
                }
            }
            &--contacto{
                @include gridColRow(1, 3, auto, auto)
            }
        }
        .help{
            @include gridColRow(1, 2, 4, 5);
            border: 0;
            justify-self: flex-start;
            padding: 0;   
        }
        &__headline{
            display: block;
            margin: 0.2rem 0;
        }
    }

    .animacion{
        &Descuento, &RRSS{
            width: 50vw;
            height: fit-content;
        }
    }

    .contacto .formularioContainer .formulario{
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto);
        &__seccion{
            &--nombre{
                @include gridColRow(1, 2, 1, 2)
            }
            &--email{
                @include gridColRow(1, 2, 2, 3)
            }
            &--celular{
                @include gridColRow(1, 2, 3, 4)
            }
            &--textbox{
                @include gridColRow(1, 2, 4, 5)
            }
            &--boton{
                @include gridColRow(1, 2, 5, 6)
            }
        }
        &__seccion, &__textinput{
            justify-self: center;
            width: 70vw;
        }
        .form-control{
            width: 100%;
        }
    }
}

@media (min-width: 577px){
    .help{
        padding-top: 10px;
    }
}

@media (min-width: 769px){
    .display_none_md{
        display: none; 
    }
    .novedad .novedad__img:hover{
        transform: scale(1.1) translateY(2vh);
        transition: transform 3s;
        z-index: 2;
    }
    
    .novedad__imgContainer:hover ~ .novedad__textbox{
        transform: translateX(1vw);
        transition: transform 3s;
    }

    .masVendidos__boxes img:hover ~ .transform1__price{
        transform: translateY(1rem);
        transition: transform 2s;
    }
    .articulosGrid__boxes img:hover ~ .transform1__price{
        transform: translateY(1rem);
        transition: transform 2s;
    }
}

@media (max-width: 992px){
    main h1{
        text-align: center;
        font-size: 140%;
    }
    .nuestraHistoria{
        margin-right: 0;
    }
}