
//font
$_fontsizeresponsive: calc(1.5rem + .5vh + .2vw);
$font-default: normal normal 1.6rem 'aileronlight';

//colors
$_black: #000000;
$_lightrosepink: #d3a7a7;
$_darkgrey: #474747;
$_white: white;
$_red: rgb(226, 58, 58);

//background
$body-background: fixed url(../imgs/background.jpeg) center/cover;


//main
$margin-main: 3% 5% 0 5%;

//imgs
$responsive-img-width: auto;
$responsive-img-height: 100%;

//footer
$footerminwidth__item__ul: 22px; //variable especifica para un item en el footer

//structures
$newProducts_alertColor: $_red;

//animacion-map

$animaciones: (Descuento: $_lightrosepink, RRSS: $_black); //Este map lo uso para las animaciones que aparecen como avisos en el index y en Contacto 

