$font-default: normal normal 1.6rem 'aileronlight';

$body-background: fixed url(../imgs/background.jpeg) center/cover;

$margin-main: 3% 5% 0 5%;

$responsive-img-width: auto;
$responsive-img-height: 100%;

