
@import 'variables';
@import 'mixins';

html{
    font-size: 62.5%;
}



//font
@font-face {
    font-family:'aileronlight';
    src: url('../fonts/aileron-light-webfont.woff2') format('woff2'),
         url('../fonts/aileron-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//body & container-fluid (boostrap)
body{
    font: $font-default;
    background: $body-background;
    color: white;
    overflow-x: hidden;
}

.container-fluid{
    margin: 0;
    padding: 0;
}

//scrollbar
::-webkit-scrollbar {
    width: 10px;
    &-track{
        background: black;
    }
    &-thumb{
        background: #888;
        &:hover{
            background: #555;
        }
    }
}
  

//etiquetas generales
ul, ol{
    list-style-type: none;
}
main{
    margin: $margin-main
}

//header
.header{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
}

.header__logoImage{
    @include size(auto, 100%)
}
.header__logoContainer{
    height: 70%;
}

.navegacion{
    align-self: stretch;
    align-items: center;
    height: 15vh;
    a{
        text-decoration: none;
        color:white ;
    }
    &__lista{
        display: flex;
        align-items: center;
        margin: 0px;
        padding: 0px;
        height: 100%;
        position: relative;
    }
    &__item{
        display: inline-block;
        @include size(25%, auto);
        a{
            @include size(100%, auto);
            display: inline-block;
            width: 100%;
            text-align: center;
            transition: 1s;
            &:hover{
                font-size: larger;
                border: none;
                border-bottom: 2px solid white;
            }
        }   
    }
    &__buscador{
        border: none;
        border-bottom: 1px solid rgb(255, 255, 255);
        background-color: rgba(255, 0, 0, 0);
        height: auto;
        color: white;
        width: 100%;
    }
    &__carrito{
        position: relative;
        margin: 0, 1rem, 0, 1rem;
    }
}
.navegacionArticulos{
    &__subsecciones{
        width: 25%;
        position: absolute;
        padding: 0;
        display: none;
        font-size: 80%
    }
    &__item{
        width:100%;
        margin-top: 1rem;
    }
    &:hover .navegacionArticulos__subsecciones{
        display: block;
        z-index: 2;
        background-color: #000000;
    }
} 

//footer
.footer{
    a{
        color: rgb(83, 109, 156);
        /* rgb(100, 149, 237) */
    }
}