
//variables globales
$font-default: normal normal 1.6rem 'aileronlight' ;
$body-background: fixed url(../imgs/background.jpeg) center/cover;
$margin-main: 3% 5% 0 5%;
$responsive-img-width:;

//html
html{
    font-size: 62.5%;
}

//font
@font-face {
    font-family:'aileronlight';
    src: url('../fonts/aileron-light-webfont.woff2') format('woff2'),
         url('../fonts/aileron-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//body & container-fluid (boostrap)
body{
    font: $font-default;
    background: $body-background;
    color: white;
    overflow-x: hidden;
}

.container-fluid{
    margin: 0;
    padding: 0;
}

//scrollbar
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: black; 
}
   
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

//etiquetas generales
ul, ol{
    list-style-type: none;
}
main{
    margin: $margin-main
}

//header
.header{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
}
//footer
.footer{
    a{
        color: rgb(100, 149, 237);
        /* rgb(100, 149, 237) */
    }
}