
.dropdown{
    &-menu{
        font-size: 100%;
        background-color: black;
        width: 100%;
        text-align: center;
        &.show{
            padding-right: calc(var(--bs-gutter-x) * .5);
            padding-left: calc(var(--bs-gutter-x) * .5);
        }
    }
    &-item{
        a{
            display: inline-block;
            @include size(100%, 100%)
        }
    }

}

.btn{
    border: 2px solid white;
    color: white;
    font-size: 120%;
    width: 100%;
    background-color: black;
    min-width: 80px;
    &:hover{
        color: #7b7f84;
    }
}

.form-check-input{
    background-color: black;
    border-color: white;
    &:focus{
        background-color: black;
        border-color: white;
    }
    &:checked{
        background-color: black;
        border-color: white;
    }
    
}

