html{
    font-size: 62.5%;
}
/*------------------------------------------------------------------
@font-face
------------------------------------------------------------------*/

@font-face {
    font-family: 'aileronblack';
    src: url('../fonts/aileron-black-webfont.woff2') format('woff2'),
         url('../fonts/aileron-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'aileronbold';
    src: url('../fonts/aileron-bold-webfont.woff2') format('woff2'),
         url('../fonts/aileron-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'aileronultralight';
    src: url('../fonts/aileron-ultralight-webfont.woff2') format('woff2'),
         url('../fonts/aileron-ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'aileronheavy';
    src: url('../fonts/aileron-heavy-webfont.woff2') format('woff2'),
         url('../fonts/aileron-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'aileronregular';
    src: url('../fonts/aileron-regular-webfont.woff2') format('woff2'),
         url('../fonts/aileron-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'aileronlight';
    src: url('../fonts/aileron-light-webfont.woff2') format('woff2'),
         url('../fonts/aileron-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*------------------------------------------------------------------
BODY
------------------------------------------------------------------*/

body{
    font-size: 1.6rem;
    font-family: 'aileronlight', sans-serif;
    font-weight:normal;
    font-style:normal;
    background-image: url(../imgs/background.jpeg);
    background-size: cover;
    background-attachment:fixed;
    color: white;
    margin: 0;
    overflow-x: hidden;
    /*border: 2px solid rgb(255, 255, 255);*/
}

.container-fluid{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: black; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

/*------------------------------------------------------------------
ETIQUETAS GENERALES
------------------------------------------------------------------*/
p, td{
    font-family: 'aileronultralight', sans-serif;
    font-weight: normal;
    font-style: normal;
}

ul, ol{
    list-style-type: none;
}

.footer a{
    color: rgb(100, 149, 237);
    /* rgb(100, 149, 237) */
}


main{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
}


textarea{
    border-bottom: 1px solid rgb(255, 255, 255);
    font-family: 'aileronlight';
    text-decoration: rgb(255, 255, 255) solid;
    background-color: rgb(0, 0, 0);
    font-size: 150%;
    color: white;
}


/*------------------------------------------------------------------
HEADER/NAVEGATION
------------------------------------------------------------------*/

.header{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
}

/*.header__logo--position{
    margin: 2rem 1rem 0 7rem;
}*/

.header__logo--image{
    width: auto;
    height: 100%;

}

.header__logo--position{
    height: 70%;
    align-content: center;
    text-align: center;
    
}

.navegacion{
    align-self: stretch;
    align-items: center;
    justify-content: stretch;
    height: 15vh;
}

.navegacion a{
    text-decoration: none;
    color:white ;
}

/*.navegacion__item, .navegacion__lista, .navegacion__carrito, .navegacion__buscador{
    /*display: inline-block;
}*/

.navegacion__lista{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    height: 100%;
    position:relative;
    /*background-color: blue;*/
}

.navegacion__item{
    display: inline-block;
    width: 25%;
    height: 30;
    margin-right:0;
    border: 0 solid white;
    list-style: none;
    font-size: 100%;
    /*background-color: chocolate;*/
}

.navegacion__item a:hover{
    font-size: larger;
    border: none;
    border-bottom: 2px solid white;
}

.navegacion__item a{
    display: inline-block;
    width: 100%;
    position: relative;
    text-align: center;
    transition: font-size 1s, border 1s, border-bottom 1s;
}

.articulos__subsecciones{
    width:25%;
    position:absolute;
    padding: 0;
    display: none;
    font-size: 80%;
    
}

.articulos__item{
    width:100%;
    margin-top: 1rem;

}

.articulos:hover .articulos__subsecciones{
    display: block;
    z-index: 4;
    background-color: #000000;
}

/*.navegacion__container{
    display: flex;
    margin-left: 4.5rem;
}*/

.navegacion__buscador{
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    font-family: 'aileronlight';
    text-decoration: rgb(255, 255, 255) solid;
    background-color: rgba(255, 0, 0, 0);
    height: auto;
    color: white;
    width: 100%;
}

.navegacion__carrito{
    position: relative;
    margin: 0, 1rem, 0, 1rem;

}

.navegacion__container{
    display: flex;
    justify-content: center;
}


/*------------------------------------------------------------------
Main INDEX
------------------------------------------------------------------*/

.mainI{
    display: grid;
    height: auto;
    margin-top: 5vh;
    overflow: hidden;
    height: fit-content;
}

.novedad{
    display: grid;
    border-radius: 10px;
    height: auto;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1%;
    max-width: 100%;
    padding: 0 10vw 0 10vw;

}

.novedad__textbox{
    padding: 15px;
    color: rgb(255, 255, 255);
    background-color: #000000;
    border-radius: 10px;
    border: 10px solid #444649;
    font-size: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    max-width: 500px;
    min-width: 263px;
}

.novedad__imgContainer{
    /*border: 2px solid white;*/
    max-width: 100%;
    max-height: auto;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    height: fit-content;
}

.novedad__img{
    max-width: 100%;
    height: auto;
    min-width:300px;
    
}



.masVendidos{
    padding-top: 10vh;
    text-align: center;
}

.masVendidos__Container{
    /*border-image: repeating-radial-gradient(45deg, rgb(43, 46, 46), rgb(121, 115, 116) 4%) 1;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 5vw;
}

.masVendidos__Container a{
    text-decoration: none;
    color: white;
}

.masVendidos__boxes{
    padding: 0 1px;
}

.masVendidos__boxes img:hover{
    transform: scale(1.1);
    transition: transform 2s;
}



/*------------------------------------------------------------------
FOOTER
------------------------------------------------------------------*/

/*.footer__box, .help{
    border: 2px solid black;
}*/

.footer{
    display: grid;
    background-color: rgb(255, 255, 255);
    color: #000000;
    height:40rem;
    margin-top: 50px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: stretch;
    justify-items: stretch;
    padding: 1% 5% 0 5%;
}

.footer__box{
    display: flex;
    align-items: center;
}

.footer__item, .footer__list, .footer__headline, .footer__list--position,.footer__list--reduction{
    display:inline-block
}

.footer__list{
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 30px;
    position: relative;
    top:0;
}

.footer__item{
    padding: 0 20px
}

.footer__list--position{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 30px;
    height: 100%;
    align-items: center;
}

.footer__list--position .footer__item{
    display: flex;
    align-items: center;
    height: 100%;
    text-align: center;
    min-width: 22px;
}

.help{
    border: 5px double black;
    border-radius: 10px;
    border-top-right-radius: 0 ;
    font-family: 'aileronlight';
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-left: 3%;
}

.help ul{
    margin:0;
    padding: 0;
    min-width: 22px;
}

.footer__img{
    max-width: 200%;
}

.footer__logo{
    justify-self: center;
    align-self: center;
    grid-row-start: 2;
    grid-row-end: 4;
    max-width: 100%;
}/**/

/*.footer__icon{
    size-adjust: 48px 48px;
    height: 48px;
    width: 48px;
}*/

#navegacion{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#contacto{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

/*------------------------------------------------------------------
CONTACTO
------------------------------------------------------------------*/

.contacto{
    font-size: 100%;
}

/*.formulario__seccion{
    margin:10px 0 20px 0;
}*/
.contacto a{
    text-decoration: none;
    border: none;
    color: white;
}

.contacto ul{
    padding: 0;
}


.form__label{
    display: block;
    font-size: 150%;
    margin-bottom: 0.5rem;
}

.modosDeContacto{
    margin-bottom: 4rem;
}

.formulario__textinput{
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    font-family: 'aileronlight';
    text-decoration: rgb(255, 255, 255) solid;
    background-color: rgb(0, 0, 0);
    font-size: 120%;
    color: white;
    width: 20vw;
}

.formulario{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto ;
    grid-column-gap: 2vw;
    grid-row-gap: 2vh;
}

#formNombre{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
#formEmail{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
#formCelular{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
#formTextbox{
    grid-column: 2 / 3;
    grid-row: 1 / 5;
    align-self: flex-start;
}
#formBoton{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

#textbox{
    width: 50vw;
}
/*.boton{
    display: inline;
    background-color: #000000;
    color: white;
    border:2px solid white;
}*/

/*------------------------------------------------------------------
NUESTRA HISTORIA
------------------------------------------------------------------*/

.nuestraHistoria{
    margin-right: 5rem;
}

/*------------------------------------------------------------------
ARTICULOS
------------------------------------------------------------------*/
.articulosGrid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-row-gap: 3vh;
    margin-top: 3vh;
}
.articulosGrid a{
    text-decoration: none;
    color: white;
}
.articulosGrid__flexSeason{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.articulosGrid__boxes{
    text-align: center;
    padding: 0 1px;
}
.articulosGrid__boxes img:hover{
    transform: scale(1.1);
    transition: transform 2s;
}
/*------------------------------------------------------------------
grid-view
------------------------------------------------------------------*/

/*------------------------------------------------------------------
animaciones 
------------------------------------------------------------------*/
.animacionBox{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    position: absolute;
    margin-top: 1vh;
    right: -100%;
    height: 20vh;
    width: 25vw;
    border: 3px solid white;
    z-index: 2;
    background-color: #000000; 
    text-align: center;
    font-size: 130%;
}

.animacionDescuento{
    animation-name: descuento;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 15s;
    animation-delay: 3s;
}

.animacionRRSS{
    animation-name: rrss;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 15s;
    animation-delay: 3s;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    position: absolute;
    margin-top: 1vh;
    right: -100%;
    height: 20vh;
    width: 25vw;
    border: 3px solid white;
    z-index: 2;
    background-color: #d3a7a7; 
    text-align: center;
    font-size: 130%;
}
.animacionRRSS__smiley img{
    max-width: 100%;
    max-height: 100%;
}
.animacionRRSS__smiley{
    
    max-width: 32px;
    max-height: 32px;
    object-fit:fill;
}

@keyframes rrss{

    0%{
        right: -100%;

    }
    10%{
        right: -10%;
        background-color: #474747;
    }
    15%{
        right: 0;
        background-color: #d3a7a7;
    }
    20%{
        background-color: #474747;
    }
    30%{
        background-color: #d3a7a7;
    }
    40%{
        background-color: #474747;
    }
    50%{
        background-color: #d3a7a7;
    }
    60%{
        right: 0%;
        background-color: #474747;
    }
    70%{
        background-color: #d3a7a7;
    }
    100%{
        right: -100%;
    }
}

@keyframes descuento{
    0%{
        right: -100%;

    }
    10%{
        right: -10%;
        background-color: #474747;
    }
    15%{
        right: 0;
        background-color: #000000;
    }
    20%{
        background-color: #474747;
    }
    30%{
        background-color: #000000;
    }
    40%{
        background-color: #474747;
    }
    50%{
        background-color: #000000;
    }
    60%{
        right: 0%;
        background-color: #474747;
    }
    70%{
        background-color: #000000;
    }
    100%{
        right: -100%;
    }
}

/*------------------------------------------------------------------
boostrap 
------------------------------------------------------------------*/
.dropdown-menu{
    font-size: 100%;
    background-color: black;
    width: 100%;
    text-align: center;
}
.dropdown-menu.show{
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
} 
.btn{
    border: 2px solid white;
    color: white;
    font-size: 120%;
    width: 100%;
    min-width: 80px;
}

.btn:hover{
    color: #444649;
}

.dropdown-item a{
    display:block;
}

.form-check-input{
    background-color: black;
    border-color: white;
}

.form-check-input:focus{
    background-color: black;
    border-color: white;
}

.form-check-input:checked{
    background-color: black;
    border-color: white;
}


.form-control{
    font-size: 120%;
    background-color: #000000;
}

.form-control:focus{
    background-color: black;
    border-color: white;
}
/*------------------------------------------------------------------
media quarys 
------------------------------------------------------------------*/

@media screen and (min-width: 0px) and (max-width: 576px){
    body p{
        font-size: 100%;
    }

    .header{
        flex-wrap: nowrap;
        flex-direction: column;
        height: 30vh;
    }
    .header__logo--position{
        max-height: 100px;
    }
    .navegacion{
        height: 15vh;
        align-self: stretch;
    }
    .mainI{
        height: fit-content;
        grid-template-rows: auto auto;
    }
    .novedad{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        justify-items: center;
        height:fit-content;
        grid-row-gap: 10px;
        align-items: end;
        align-content: stretch;
        padding: 0;

    }
    .novedad__imgContainer{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        max-width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: fit-content;
        min-width: 250px;
    }
    .novedad__img{
        max-width: 100%;
        min-height: 0;
        min-width: 250px;

    }
    .novedad__textbox{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        width:70%;
        height:auto;
        text-align: center;
        font-size: 120%;
        overflow: hidden;
    }
    .nuestraHistoria{
        text-align: center;
        margin-right: 0;
    }
    .masVendidos{
        font-size: 140%;
    }
    .footer{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, auto);
        justify-items: center;
        height: auto;
    }

    .footer__box{
        display: block;
        justify-content: space-evenly;
        width: 100%;
        border-bottom: 2px solid black;
    }

    .footer__logo{
        grid-column:2 / 3;
        grid-row: auto;
    }
    #rrss{
        grid-column: 1 / 3;
        grid-row: auto;
    }
    #navegacion{
        grid-column: 1 / 3;
        grid-row: auto;
        align-self: start;
    }
    .help{
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        border: 0;
        justify-self: flex-start;
        padding: 0;
    }

    #contacto{
        grid-column: 1 / 3;
        grid-row: auto;
    }

    .articulosGrid h3, .articulosGrid h4{
        text-align: center;
    }

    .articulosGrid h3{
        font-size: 125%;
    }

    .articulosGrid h4{
        font-size: 115%;
    }

    .articulosGrid .articulosGrid__boxes h3{
        font-size: 95%;
    }

    .footer__list--position{
        display: block;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #navegacion .footer__list{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
    }

    .footer__box h2, .help h2{
    font-size: 115%;
    }

    .footer ul{
        padding: 0;
    }
    .footer ul li, .help li{
        display: list-item;
        padding: 5% 0 5% 0
    }
    .footer__headline{
        display: block;
        margin: 0.2rem 0 0.2rem 0;
    }
    .footer__logo{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    #footer-logo{
        max-width: 100%;
    }
    
    .header__logo--position{
        width:auto;
        height: auto;
    }

    .animacionBox{
        width: 50vw;
        height: fit-content;
    }

    .animacionRRSS{
        width: 50vw;
        height: fit-content;
    }
}
@media (max-width: 768px){
    .display_none_sm{
        display: none;
    }
    .modosDeContacto{
        text-align: center;
    }
    .formulario{
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto);
    }
    #formNombre{
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    #formEmail{
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
    #formCelular{
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }
    #formTextbox{
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }
    #formBoton{
        grid-column: 1 / 3;
        grid-row: 5 / 6;
    }
    .formulario__seccion, .formulario__textinput{
        justify-self: center;
        width: 70vw;
    }
    .formBoton{
        justify-self: center;
    }
    #textbox{
        width: 100%;
    }
}
@media (min-width: 769px){
    .display_none_md{
        display: none; 
    }
}
@media screen and (min-width: 576px) and (max-width:768px){
    
    .animacionBox{
        font-size: 100%;
    }
    .header{
        flex-wrap: nowrap;
        flex-direction: column;
        height: 30vh;
        justify-content: space-evenly;
    }

    .navegacion{
        align-self: stretch;
        align-items: center;
    }
    .header__logo--position{
        display: block;
        max-height: 100px;
    }
    
    .novedad{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
        justify-items: center;
        height: auto;
        grid-row-gap: 3%;
        padding: 0;
    }
    .novedad__imgContainer{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        max-width:70%;
        min-width: 252px;
    
    }
    .novedad__img{
        max-width: 100%;
        height: auto;
        min-width: 250px;
    }
    .novedad__textbox{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        width:50%;
        text-align: center;
    }
    h2, h1{
        font-size: 140%;
    }
}

@media screen and (min-width: 768px){

    .novedad .novedad__img:hover{
        transform: scale(1.1) translateY(2vh);
        transition: transform 3s;
        z-index: 2;
    }
    
    .novedad__imgContainer:hover ~ .novedad__textbox{
        transform: translateX(1vw);
        transition: transform 3s;
    }

    .masVendidos__boxes img:hover ~ .transform1__price{
        transform: translateY(1rem);
        transition: transform 2s;
    }
    .articulosGrid__boxes img:hover ~ .transform1__price{
        transform: translateY(1rem);
        transition: transform 2s;
    }
}

@media (max-width: 992px){
    main h1{
        text-align: center;
        font-size: 140%;
    }
    .nuestraHistoria{
        margin-right: 0;
    }
}