html {
  font-size: 62.5%; }

@font-face {
  font-family: 'aileronlight';
  src: url("../fonts/aileron-light-webfont.woff2") format("woff2"), url("../fonts/aileron-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font: normal normal 1.6rem "aileronlight";
  background: fixed url(../imgs/background.jpeg) center/cover;
  color: white;
  overflow-x: hidden; }

.container-fluid {
  margin: 0;
  padding: 0; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: black; }

::-webkit-scrollbar-thumb {
  background: #888; }

::-webkit-scrollbar-thumb:hover {
  background: #555; }

ul, ol {
  list-style-type: none; }

main {
  margin: 3% 5% 0 5%; }

.header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: auto;
  justify-content: space-evenly;
  align-items: center;
  background-color: black; }

.footer a {
  color: cornflowerblue;
  /* rgb(100, 149, 237) */ }
